@charset "UTF-8";
/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "mplus+1m", "Roboto", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFDFA;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #5997d9;
}

img {
  max-width: 100%;
  vertical-align: middle;
  /*画像の下の余白を削除*/
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.l-top {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}

.l-header {
  width: 100%;
  height: 217px;
}

@media screen and (min-width: 1025px) {
  .l-header {
    width: 80%;
  }
}

.l-main {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1025px) {
  .l-main {
    width: 80%;
  }
}

.l-main__wrapper {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .l-main__wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
}

.l-main__branchmenu {
  margin-bottom: 15px;
}

.l-sidebar {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .l-sidebar {
    width: 20%;
  }
}

.l-footer {
  width: 100%;
  height: 160px;
}

/*Component-----------------------*/
.c-toggle {
  position: fixed;
  top: 20px;
  right: 15px;
  color: #707070;
  font-size: 1.25rem;
  cursor: pointer;
}

/* スマホの✖ */
.c-toggle--line {
  position: absolute;
  top: 15px;
  /* 位置*/
  right: 15px;
  /* 位置*/
  width: 35px;
  /*線の長さ*/
  height: 4px;
  /*線の太さ*/
  background: #707070;
  /*線の色*/
  border-radius: 10px;
  transition: .4s ease-in-out;
  transform: rotate(50deg);
  display: none;
}

.c-toggle--line::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 10px;
  transform: rotate(-100deg);
}

.c-toggle--line::after {
  top: 0px;
}

.c-toggle--line.active {
  display: block;
}

/*Project-------------------------*/
.p-service__takeout {
  background-image: url(../img/takeout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.p-service__eatin {
  background-image: url(../img/eatin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

　　
.p-service__wrapper {
  width: 80%;
  margin: auto;
}

.p-service__head {
  font-size: 30px;
  color: #fff;
  margin-bottom: 250px;
}

.p-service__head > a {
  display: block;
  padding: 15px;
}

.p-service__head > a::after {
  display: block;
  content: "";
  border: solid 2px;
  width: 30px;
  background: #fff;
  margin-top: 10px;
}

.p-service__inner {
  background-color: #fff;
  opacity: .8;
  height: 170px;
  width: 90%;
  margin: 10px auto;
}

.p-service__list {
  font-size: 22px;
  font-family: "mplus+1m";
  font-weight: bold;
  color: #3C2A10;
  padding: 20px 10px;
}

.p-service__desc {
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
}

.p-header {
  background-color: #FFF7EF;
}

.p-header__title {
  font-family: "Roboto";
  font-size: 2.5rem;
  color: #707070;
  text-align: center;
  padding-top: 40px;
}

.p-header__title > a {
  display: block;
}

.p-header__search {
  display: flex;
  justify-content: center;
  padding: 35px 0 40px 0;
}

.p-header__sbox {
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #fff;
  height: 45px;
  width: 230px;
  margin-right: 12px;
}

.p-header__sbtn {
  font-family: "mplus+1m";
  font-weight: bold;
  color: #707070;
  border-radius: 10px;
  height: 45px;
  background-color: #F2EDE9;
  width: 70px;
  border: 1px solid;
  text-align: center;
}

.fas {
  color: #808080;
  padding-left: 10px;
}

.p-top {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.p-top__title {
  color: #fff;
  font-family: "mplus+1m";
  font-size: 36px;
  font-weight: bold;
  margin-left: 35px;
}

.p-gnav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 80%;
  background-color: #F2EDE9;
  opacity: 0.8;
  z-index: 1000;
}

.p-gnav__list {
  margin-top: 150px;
}

.p-gnav__item > a {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #707070;
  padding: 20px;
}

.p-subnav__item > a {
  display: block;
  font-size: 1.2rem;
  color: #707070;
  margin: 10px;
  padding-left: 75px;
}

.p-map__wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  /* = height ÷ width × 100 */
  padding-bottom: 56.25%;
  min-height: 450px;
  /*地図の高さを最低限確保する為*/
}

.p-map__wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*親要素の100%*/
  height: 100%;
  z-index: 10;
}

.p-map__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666666;
  opacity: 0.6;
  z-index: 100;
}

.p-map__head {
  font-family: "M+1";
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 90%;
  z-index: 200;
}

.p-map__head::after {
  content: "";
  display: block;
  width: 75px;
  background-color: #fff;
  border: solid 1px;
  margin-top: 15px;
}

.p-map__txt {
  font-family: "M+1";
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 2;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 30px;
  width: 85%;
  z-index: 200;
}

@media screen and (min-width: 600px) {
  .p-map__txt {
    font-size: 0.875rem;
    line-height: 2.2;
  }
}

@media screen and (min-width: 1025px) {
  .p-map__txt {
    font-size: 16px;
    line-height: 1.5;
  }
}

.p-footer {
  background-color: #97816C;
  color: #fff;
  font-family: "M+1m";
  text-align: center;
}

.p-footer__info {
  padding-top: 40px;
  font-size: 1.2rem;
}

.p-footer__list:first-child::after {
  content: "";
  margin-left: 10px;
  background-color: #fff;
  border: solid 1px;
}

.p-footer__copyright {
  display: block;
  padding-top: 40px;
  font-size: 0.875rem;
}

/*Utility------------------------*/
/*# sourceMappingURL=style.css.map */