@charset "UTF-8";
/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "mplus+1m", "Roboto", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFDFA;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #5997d9;
}

img {
  max-width: 100%;
  vertical-align: middle;
  /*画像の下の余白を削除*/
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.l-top {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}

.l-header {
  width: 100%;
  height: 217px;
}

.l-main {
  width: 100%;
  height: auto;
}

.l-main__wrapper {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .l-main__wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
}

.l-main__branchmenu {
  margin-bottom: 15px;
}

.l-sidebar {
  width: 100%;
}

.l-footer {
  width: 100%;
  height: 150px;
}

.l-layer {
  width: 100%;
}

.l-layer.cover {
  position: fixed;
  z-index: 900;
}

.l-layer::after {
  /* 透過したグレーを重ねる */
  background-color: #707070;
  opacity: 0.7;
  /* どの範囲に重ねるかを指定 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  visibility: hidden;
}

.l-layer.cover::after {
  visibility: visible;
}

@media screen and (min-width: 1025px) {
  .l-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 150px;
  }
  .l-container__wrapper {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .l-sidebar {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #F2EDE9;
  }
  .l-footer {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

/*Component-----------------------*/
.c-toggle {
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 1100;
}

@media screen and (min-width: 1025px) {
  .c-toggle {
    position: static;
    margin-top: 80px;
    margin-left: 40px;
  }
}

.c-toggle--btn {
  position: relative;
  color: #707070;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .c-toggle--btn {
    font-size: 2.1rem;
  }
}

.c-toggle--btn.active {
  display: none;
}

/* スマホの✖ */
.c-toggle--line {
  display: inline-block;
  position: relative;
  transition: all .4s;
  z-index: 1100;
  right: 35px;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.c-toggle--line::after, .c-toggle--line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #707070;
  border-radius: 10px;
  display: none;
}

.c-toggle--line::before {
  top: 7px;
}

.c-toggle--line::after {
  top: 23px;
}

.c-toggle--line.active::before {
  display: block;
  transform: translateY(9px) rotate(45deg);
}

.c-toggle--line.active::after {
  display: block;
  transform: translateY(-7px) rotate(-45deg);
}

/*Project-------------------------*/
.p-service__takeout {
  background-image: url(../img/takeout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.p-service__eatin {
  background-image: url(../img/eatin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

　　
.p-service__wrapper {
  width: 80%;
  margin: auto;
}

.p-service__head {
  font-size: 30px;
  color: #fff;
  margin-bottom: 250px;
}

.p-service__head > a {
  display: block;
  padding: 15px;
}

.p-service__head > a::after {
  display: block;
  content: "";
  border: solid 2px;
  width: 30px;
  background: #fff;
  margin-top: 10px;
}

.p-service__inner {
  background-color: #fff;
  opacity: .8;
  height: 170px;
  width: 90%;
  margin: 10px auto;
}

.p-service__list {
  font-size: 22px;
  font-family: "mplus+1m";
  font-weight: bold;
  color: #3C2A10;
  padding: 20px 10px;
}

.p-service__desc {
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
}

.p-header {
  background-color: #FFF7EF;
}

@media screen and (min-width: 1025px) {
  .p-header {
    display: flex;
    justify-content: space-between;
  }
}

.p-header__title {
  font-family: "Roboto";
  font-size: 2.5rem;
  color: #707070;
  text-align: center;
  position: relative;
  top: 40px;
}

@media screen and (min-width: 1025px) {
  .p-header__title {
    top: 60px;
    font-size: 4.0rem;
  }
}

.p-header__title > a {
  display: block;
  padding: 0 60px;
}

.p-header__search {
  display: flex;
  justify-content: center;
  position: relative;
  top: 80px;
  right: 30px;
}

.p-header__sbox {
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #fff;
  height: 45px;
  width: 230px;
  margin-right: 12px;
}

@media screen and (min-width: 600px) {
  .p-header__sbox {
    width: 300px;
  }
}

.p-header__sbtn {
  font-family: "mplus+1m";
  font-weight: bold;
  color: #707070;
  border-radius: 10px;
  height: 45px;
  background-color: #F2EDE9;
  width: 70px;
  border: 1px solid;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .p-header__sbtn {
    width: 100px;
  }
}

.fas {
  color: #808080;
  padding-left: 10px;
}

.p-top {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.p-top__title {
  color: #fff;
  font-family: "mplus+1m";
  font-size: 36px;
  font-weight: bold;
  margin-left: 35px;
}

.p-gnav {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  background-color: #F2EDE9;
  z-index: 1000;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.6s;
}

@media screen and (min-width: 1025px) {
  .p-gnav {
    position: static;
    overflow: visible;
  }
}

.p-gnav__list {
  margin-top: 70px;
}

.p-gnav__item > a {
  display: block;
  font-weight: bold;
  color: #707070;
  padding: 30px 40px;
}

@media screen and (min-width: 1025px) {
  .p-gnav__item > a {
    font-size: 1.5rem;
  }
}

.p-subnav__item > a {
  display: block;
  color: #707070;
  padding: 10px 60px;
}

@media screen and (min-width: 1025px) {
  .p-subnav__item > a {
    font-size: 1.25rem;
  }
}

.p-gnav.on-menu {
  right: 0;
}

.p-map__wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  /* = height ÷ width × 100 */
  padding-bottom: 56.25%;
  min-height: 450px;
  /*地図の高さを最低限確保する為*/
}

.p-map__wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*親要素の100%*/
  height: 100%;
  z-index: 10;
}

.p-map__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666666;
  opacity: 0.6;
  z-index: 100;
}

.p-map__head {
  font-family: "M+1";
  font-size: 1.875rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 90%;
  z-index: 200;
}

.p-map__head::after {
  content: "";
  display: block;
  width: 75px;
  background-color: #fff;
  border: solid 1px;
  margin-top: 15px;
}

.p-map__txt {
  font-family: "M+1";
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 30px;
  width: 85%;
  z-index: 200;
}

@media screen and (min-width: 600px) {
  .p-map__txt {
    line-height: 2.2;
  }
}

@media screen and (min-width: 1025px) {
  .p-map__txt {
    font-size: 16px;
    line-height: 2.0;
  }
}

.p-footer {
  background-color: #97816C;
  color: #fff;
  font-family: "M+1m";
  text-align: center;
}

.p-footer__info {
  padding-top: 40px;
  font-size: 1.2rem;
}

.p-footer__list:first-child::after {
  content: "";
  margin-left: 10px;
  background-color: #fff;
  border: solid 1px;
}

.p-footer__copyright {
  display: block;
  padding-top: 40px;
  font-size: 0.875rem;
}

/*Utility------------------------*/
/*# sourceMappingURL=style.css.map */