.c-samplecode {
    & > pre {
        background-color: #F5F5F5;
        white-space: normal;
        padding: 50px;

    }
    & > pre > code {
        display: block;
        line-height: 1.4;
        white-space: pre;
    }
    
}