.c-table {
    margin-top: 30px;
    margin-bottom:30px;
    
    & table {
        width: 100%;
        border: 1px solid;
        }
    & tr {
        height: 77px;
        border: 1px solid;
    }
    & th {
        border: 1px solid;
        width: 35%;
        min-width: 135px;
        padding: 30px;
    }
    & td {
        width: 65%;
        min-width: 200px;
        padding: 30px;
    }
}
