.p-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    &__wrapper {
        @include mq(tb) {
            display: flex;
        }
    }
    &__thumbnail {
        width: 100%;
        @include mq(tb) {
            width: 50%;
        }
    }
    &__link {
        display: block;
        margin: auto;
        background-color: #fff;
        width: 160px;
        height: 42px;
        border-radius: 30px;
        text-align: center;
        font-weight: bold;
        color: #707070;
    }
}    