.p-footer {
    background-color: #97816C;
    color: #fff;
    font-family: "M+1m";
    text-align: center;
    &__info {
        padding-top: 40px;
        padding-bottom: 35px;
        font-size: 1.2rem;   
    }
    &__list {
        &:first-child::after {
            content: "";
            margin-left: 10px;
            background-color: #fff;
            border: solid 1px;
        }
    }
    &__copyright {
        display: block;
        font-size: 0.875rem;
        padding-bottom: 30x;
    }
    
}