.p-gnav {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 80%;
    background-color: #F2EDE9;
    opacity: 0.8;
    z-index: 1000;
    
    &__list {
        margin-top: 150px;
    }
    &__item > a {
        display: block;
        font-size: 1.5rem;
        font-weight: bold; ;
        color: #707070;
        padding: 20px;    
    }
    
} 

.p-subnav__item > a {
    display: block;
    font-size: 1.2rem;
    color: #707070;
    margin: 10px;
    padding-left: 75px;   

}


