.p-header {
    background-color: #FFF7EF;
    @include mq(pc){
        display: flex;
        justify-content: space-between;
        
    }

    &__title {
        font-family: "Roboto";
        font-size: 2.5rem;      
        color: #707070;
        text-align: center;
        position: relative;
        top: 40px;
        @include mq(pc){
            top: 60px;
            font-size: 4.0rem;
        }
         & > a {
            display: block;
            padding: 0 60px;
        }
    
    }
    
}

