.p-service--takeout {
    background-image: url(../img/takeout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    @include mq(tb) {
        margin-bottom: 0;
    }
    
}
.p-service--eatin {
    background-image: url(../img/eatin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}  
 
    
.p-service {　　
    &__wrapper {
        width: 80%;
        margin: 10px;
    }
   

    &__head {
        font-size: 41px;
        color: #fff;
        margin-bottom: 250px;
        font-family: "Roboto";
        @include mq(tb) {
            font-size: 44px;
        }
        @include mq(pc) {
            font-size: 60px;
        }
        & > a {
            display: block;
            padding: 20px;
        }
        & > a::after {
            display: block;
            content: "";
            border: solid 2px;
            width: 33px;
            background: #fff;
            margin-top: 10px;
            
            @include mq(tb) {
                width: 36px;
            }
            @include mq(pc) {
                width: 63px;
            }
        }
        }  
    &__inner {
    background-color: #fff;
    opacity: .8;
    height: 170px;
    margin: 10px;
    }

    &__list {
        font-size: 22px;
        font-family: "mplus+1m";
        font-weight: bold;
        color: #3C2A10;
        padding: 20px 10px;
    
    }
    &__desc {
        font-size: 16px;
        font-weight: normal;
        padding: 10px;
    }

 }