.p-single__thumbnail {
    &--top {
        display: block;
        height: 130px;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        @include mq(tb) {
            height: 264px
            }
        @include mq(pc) {
            height: 500px
        }
        }
        &--bottom {
            display: block;
            width: 100%;
            padding: 0 34px 30px 34px;
        }
        
        &__list {
            @include mq(tb) {
                column-count: 2;
            }
            @include mq(pc) {
                column-count: 3;
            }
            }
        &__item {
            display: block;
            margin-bottom: 20px;
        }
    
        
    
    
    &--flex {
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
        @include mq(tb) {
            margin: 60px auto;
        }
        & > img {
            display: block;
            width: 50%;
            height: 50%;
        }
        & > p {
            line-height: 1.4;
            width: 47%;
        }
    }
    

}


.u-margin {
    margin-bottom: 200px;
}

.p-single__list > ol,ul {
    padding-bottom: 10px;
    padding-top: 10px;
}
.p-single__list-center {
    padding-left: 18px;
}
.p-single__list-bottom {
    margin-bottom: 40px;
}

.p-single__code {
    height: 230px;
    background-color: #F5F5F5;
    padding: 25px 50px;
    & > code {
        line-height: 1.4;
    }
    
}
.p-single__table {
    margin-top: 30px;
    margin-bottom:30px;
    
    & table {
        width: 100%;
        border: 1px solid;
        }
    & tr {
        height: 77px;
        border: 1px solid;
    }
    & th {
        border: 1px solid;
        width: 35%;
        min-width: 135px;
        padding: 30px;
    }
    & td {
        width: 65%;
        min-width: 200px;
        padding: 30px;
    }
    
}

.p-single__btn {
    height: 81px;
    width: 100%;
    max-width: 429px;
    border: 1px solid #707070;
    border-radius: 20px;
    background-color: #F2EDE9;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.p-single__btn-text {
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 177px;
    @include mq(tb) {
        margin-bottom: 228px;
    }
    @include mq(pc) {
        margin-bottom: 353px;
    }
}

